.App{    
    background-image: linear-gradient(90deg, rgb(11, 22, 149), rgb(189, 39, 197));    
    font-family: Roboto, sans-serif;
}

.bg-color{
    background-color: rgba(255, 255, 255, .1);
}
.h-color{
    color: white;
}
.p-color{    
    color: rgb(255 255 255 / 70%);
}
.br-1{    
    border-radius: 1rem;
}
.border_bottom{
    border-bottom:solid 1px white ;
}
img,svg{
    vertical-align: middle;
}